.sidebar {
  z-index: 5;
  transition: right 0.4s ease;
  height: 100vh;

  @media screen and (max-width: 900px) {
    position: absolute;
    right: -100%;
    width: 100vw;
    // display: none;
    // transform: translateX();
  }

  &Active {
    right: 0%;
  }
}

.list {
  height: 70%;

  @media screen and (max-width: 900px) {
    height: 60%;
  }

  ul {
    height: 100%;
    overflow-y: auto;
  }
}

.listItemLink {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  transition: all 0.4s ease-in;
  color: #fff;

  div {
    opacity: 0;
    transition: all 0.4s ease;
  }

  &:hover > div {
    opacity: 1;

    button {
      color: #fff;

      &:hover {
        color: dodgerblue;
      }
    }
  }

  @media screen and (max-width: 900px) {
    div {
      opacity: 1;

      button {
        color: #fff;
      }
    }
  }
}

.input {
  label {
    color: rgba(255, 255, 255, 0.4) !important;
  }

  div:before,
  div:after {
    border-color: #fff !important;
  }

  input {
    color: #fff;
  }
}

.empty {
  opacity: 0.3;
}

.btn {
  span {
    color: #222 !important;
  }
}
